{% extends "blog/base.html" %}
{% block content %}

    <!-- loop through the post object and display its attributes --> 
    {% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}">
        <div>
            <div class="article-metadata">
                <h2 ><a class="article-title" href="{{ post.get_absolute_url }}">  {{ post.title }} </a></h2>
                <small class="text-muted"> By {{ post.author }} on {{ post.date_published|date:"F d, Y" }}</small>
            </div>
            <p class="article-content">{{ post.content|truncatewords:30|linebreaks }}</p>
        <div>   
    </article>
    {% endfor %}

{% endblock content  %}

